﻿<!DOCTYPE html>

@using System.Collections.Generic;
@using DentalClinic.Domain;
@using DentalClinic.Models;

@model DentalClinic.Domain.OrderModel

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Чек на оплату" />
    <meta name="author" content="DentalClinic" />

    <title>Чек на оплату от @Model.Date.ToString("dd.MM.yyyy")</title>

    <link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css" />

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <div class="row" style="margin-left:10vh;">
            <div class="col-md-12">Чек на оплату от @Model.Date.ToString("dd.MM.yyyy")</div>
        </div>

        <div class="row" style="margin-left:5vh;">
            <table>
                <tr>
                    <td>
                        <div>
                            <label>Пациент:</label>  <span>@Model.PatientFullName</span>
                        </div>
                    </td>
                    <td rowspan="3">
                        <div style="margin:10px;text-align:right;">
                            <input id="ordercode" type="hidden" value="@Model.Id.ToString()" />
                            <img id="ordercode_image"
                                 src=""
                                 alt=""
                                 title="Order code"
                                 width="100"
                                 height="100" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Врач:</label>  <span>@Model.DoctorFullName</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label>Общая стоимость, рублей:</label>  <span>@Model.TotalPrice.ToString("N")</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="row" style="margin-left:5vh;">
            <table border="1" style="border:1px solid black;">
                <thead>
                    <tr>
                        <th>Процедура</th>
                        <th>Препарат</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.ProcedureName</td>
                            <td>@item.MedicamentName</td>
                            <td>@item.Price.ToString("N")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-4" style="margin-top:10px;text-align:right;">
                <label>Общая стоимость, рублей:</label>  <span>@Model.TotalPrice.ToString("N")</span>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var code = $("#ordercode");
            var codeImage = $("#ordercode_image");

            var codeValue = code.val();
            var imageUrl = "https://api.qrserver.com/v1/create-qr-code/?data=" + codeValue + "&amp;size=100x100";

            codeImage.attr("src", imageUrl);
        });
    </script>
</body>
</html>