﻿<!DOCTYPE html>

@using System.Collections.Generic;
@using DentalClinic.Domain;
@using DentalClinic.Models;

@model DentalClinic.Domain.ScheduleModel

<html lang="ru">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Чек на оплату" />
	<meta name="author" content="DentalClinic" />

	<title>Расписание для @(Model.DoctorFullName) на @(Model.Date.ToString("dd MMMM yyyy")) г.</title>

	<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/css/bootstrap.min.css" />

	<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.0.0/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<div class="row" style="margin-left:10vh;">
			<div class="col-md-12">Расписание для @(Model.DoctorFullName) на @(Model.Date.ToString("dd MMMM yyyy")) г.</div>
		</div>
		<br />
		<div class="row" style="margin-left:5vh;">
			<table border="1" style="border:1px solid black;font-style:normal;font-size:">
				<thead>
					<tr>
						<th>Время</th>
						<th>Пациент</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var record in Model.Appointments)
					{
						<tr>
							<th>@record.AppointmentDate.ToString("HH:mm")</th>
							@if (record.Appointment != null)
							{
								<th>@record.Appointment.PatientFullName</th>
							}
							else
							{
								<th></th>
							}
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>